.card {
  @media (min-width: $breakpoint-medium) {
    background-color: $color-gray-50;
  }
}

.card__heading {
  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.card__list {
  color: $color-gray-700;

  font-size: 12px;
}
