.catalog-sections__container {
  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  padding: 20px;

  background-color: $color-gray-50;

  & + & {
    margin-top: 20px;

    @media (min-width: $breakpoint-medium) {
      margin-top: 30px;
    }

    @media (min-width: $breakpoint-large) {
      margin-top: 0;
    }
  }
}

.catalog-sections__heading {
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-sections__text {
  color: $color-gray-700;
}

.catalog-sections__link {
  color: $color-black;

  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
