.catalog-additional {
  padding: 20px;
}

.catalog-additional__heading {
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.catalog-additional__list {
  list-style: none;
}
