.catalog-list {
  padding: 20px 0;
}

.catalog-list__container {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $breakpoint-large) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 64px;
  }
}
