@import "../variables";
@import "../mixins";

.catalog-sections__item {
  padding: 20px;

  background-color: $color-gray-50;
}

.catalog-sections__heading {
  font-family: $font-heading;

  @include set-text(24px);

  text-transform: uppercase;
}

.catalog-sections__text {
  color: $color-gray-700;
}

.catalog-sections__link {
  color: $color-black;

  font-family: $font-heading;

  @include set-text(16px);

  text-transform: uppercase;
  text-decoration: none;
}
