.catalog-sections__item {
  padding: 20px;

  background-color: $color-gray-50;
}

.catalog-sections__heading {
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-sections__text {
  color: $color-gray-700;
}

.catalog-sections__link {
  color: $color-black;

  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
