@import "../variables";
@import "../mixins";

.catalog-additional {
  padding: 20px;
}

.catalog-additional__heading {
  font-family: $font-heading;

  @include set-text(24px, 24px 400);
}

.catalog-additional__list {
  list-style: none;
}
