@import "../variables";
@import "../mixins";

.contacts {
  &__heading {
    font-family: $font-heading;
    @include set-text(16px, 20px);
    text-transform: uppercase;
  }

  &__address {
    color: $color-gray-700;

    line-height: 20px;
  }
}
