.example {
  padding: 20px;

  background-color: $color-gray-100;
}

.example__container {
  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__text {
  color: $color-gray-700;
}

.example__list {
  text-align: center;
}

.example__title {
  color: $color-gray-700;

  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
}

.example__definition {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.example__spending {
  font-family: $font-heading;
  line-height: 20px;
  text-transform: uppercase;
}
