@import "../variables";
@import "../mixins";

.example {
  padding: 20px;

  background-color: $color-gray-100;

  &__text {
    color: $color-gray-700;
  }

  &__list {
    text-align: center;
  }

  &__title {
    color: $color-gray-700;

    @include set-text(12px, 1);

    text-transform: lowercase;
  }

  &__definition {
    font-family: $font-heading;

    @include set-text(24px, 1);

    text-transform: uppercase;
  }

  &__spending {
    font-family: $font-heading;
    line-height: 20px;
    text-transform: uppercase;
  }
}
