.field-group {
  padding: 20px 0;
  border: none;
}

.field-group__heading {
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.field-group__list {
  padding: 0;

  list-style: none;
}

.field-group__list--contacts {
  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.field-group__list--additional {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  @media (min-width: $breakpoint-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}
