@import "../variables";
@import "../mixins";

.field-group {
  padding: 20px 0;
  border: none;

  &__heading {
    font-family: $font-heading;

    @include set-text(24px, 26px);
  }

  &__list {
    @include reset;

    list-style: none;
  }
}
