@import "../variables";
@import "../mixins";

.field {
  color: $color-gray-700;

  font-family: $font-heading;

  @include set-text(16px, 18px);

  text-transform: uppercase;
}

.field__input {
  font-family: inherit;

  @include set-text(16px, 18px);

  text-transform: uppercase;
}
