@import "../variables";
@import "../mixins";

.page-main__heading {
  font-family: $font-heading;

  @include set-text(36px, 40px);
}

.page-main__subheading {
  font-family: $font-heading;
  font-weight: 400;
  text-transform: uppercase;
}
