.page-footer {
  padding: 20px;

  background-color: $color-gray-50;
}

.page-footer__container {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
  }
}
