.process {
  padding: 20px;
}

.process__list {
  padding: 0;

  color: $color-gray-700;

  list-style: none;

  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $breakpoint-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.process__item {
  @media (max-width: $breakpoint-small-down) {
    & + & {
      margin-top: 20px;
    }
  }
}
