.promo {
  padding: 20px;

  color: $color-white;
  background-color: $color-primary-500;
  background-image: url("../img/background/promo.jpg");

  text-align: center;

  @media (min-width: $breakpoint-medium) {
    color: $color-black;
    background-color: transparent;

    text-align: left;
  }
}

.promo__container {
  @media (min-width: $breakpoint-medium) {
    padding-left: 90px;
  }
}

.promo__heading {
  font-family: $font-heading;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}

.promo__text {
  font-family: $font-heading;
  line-height: 1;
  text-transform: uppercase;
}
