@import "../variables";
@import "../mixins";

.promo {
  padding: 20px;

  color: $color-white;
  background-color: $color-primary-500;
  background-image: url("../img/background/promo.jpg");

  text-align: center;

  &__heading {
    font-family: $font-heading;
   @include set-text(36px, 1);
  }

  &__text {
    font-family: $font-heading;
    line-height: 1;
    text-transform: uppercase;
  }
}
