@import "../variables";
@import "../mixins";

.promo {
  padding: 30px;
  text-align: left;

  color: $color-white;
  background-color: $color-primary-500;
  background-image: url("../img/background/promo.jpg");
  background-repeat: no-repeat;

  &__heading {
    font-family: $font-heading;
   @include set-text(36px, 1);
  }

  &__text {
    font-family: $font-heading;
    line-height: 1;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    display: block;
    background: white;
    color: #000;

    &__container {
      padding: 0 90px 526px;
    }

    &__heading {
      @include set-text(60px, 60px);

      text-align: left;
    }

    &__text {
      @include set-text(20px, 20px);

      text-align: left;
    }

    &__image {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__button {
      @include button(20px, 20px);

      width: auto;
      padding: 14px 26px;
    }
  }
}
