.show-more__heading {
  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__text {
  color: $color-gray-700;

  font-size: 12px;
  line-height: 16px;
}
