.example {
  background: #EAEAEA;
  margin-top: 35px;
  margin-bottom: 26px;

  &__title {
    padding-top: 25px;

    @include set-title();
  }

  &__text {
    margin: 0;
    padding-bottom: 20px;
  }

  &__stats-value {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }

  &__stats-effect {
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
  }

  &__expenses {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
