.programs-list {
  list-style-type: none;

  @include reset();
}

.programs-item {
  @media (min-width: $tablet-width) {
    padding: 52px;
    margin-bottom: 30px;
  }

  background: var(--basic_grey, #F2F2F2);
  color: #000;
  font-family: Oswald, sans-serif;
  font-style: normal;
  margin-bottom: 20px;
  padding: 21px;


  &__title {
    @media (min-width: $tablet-width) {
      color: #000;
      font-family: Oswald;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 100% */
      text-transform: uppercase;
    }

    @include reset();

    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 37px; /* 154.167% */
  }

  &__text {
    @media (min-width: $tablet-width) {
      color: #000;
      font-family: Oswald;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      padding-bottom: 52px;
      width: 340px;
      border: none;
    }

    font-size: 14px;
    line-height: 18px;
    padding-top: 22px;
    padding-bottom: 5px;
    padding-right: 12px;
    margin: 0;
    border-bottom: 1px solid #D9D9D9;
  }

  &__show {
    @media (min-width: $tablet-width) {
      color: #000;
      text-align: center;
      font-family: Oswald;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    display: inline-block;
    text-decoration: none;
    padding-top: 15px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000;
  }
}
