.working {
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 18px;

  &__list {
    list-style: none;

    @include reset();
  }

  &__title {
   @include set-title();
  }
}

.working-item {

  &__text {
    margin: 0;
    width: calc(100% - 80px);
  }

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}
