.button {
  @include button(#fff, 14px, 18px);

  order: 4;
  width: 100%;
  padding: 8px 44px;
  display: block;

  &--secondary {
    @include button(#444, 16px, 20px);
    display: block;
    background: var(--basic_grey, #F2F2F2);
    text-decoration: none;
  }
}
