.card-row {
  &__button {
    margin-bottom: 19px;
  }


  &__list {
    @include reset();
  }

  &__definition {
    @include reset();

    color: var(--special_dark-grey, #444);
    font-family: Aclonica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    padding-bottom: 15px;
  }

  &__heading {
    @include reset();

    color: var(--special_dark-grey-2, #222);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
