.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

*, ::before, ::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 18px; }

.container {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column; }

.page-header {
  background-color: #fff; }

.header-top {
  padding-right: 20px;
  padding-left: 20px; }

.site-menu {
  list-style-type: none;
  font-family: Oswald, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 100% */
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0; }
  .site-menu__link {
    text-decoration: none;
    color: #000; }
  .site-menu__item {
    border-bottom: 1px solid #e6e6e6; }

.button {
  background: var(--basic_green, #68B738);
  color: #fff;
  text-align: center;
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 100% */
  text-transform: uppercase;
  border: none;
  order: 4;
  width: 100%;
  padding: 8px 44px; }

.hero {
  background: url("../../img/background/promo.jpg") no-repeat;
  background-size: 100%; }
  .hero__title {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    /* 100% */
    padding-bottom: 25px;
    padding-top: 27px; }
  .hero__text {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 30px; }
  .hero__title, .hero__text {
    text-align: center;
    font-family: Oswald, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase; }
  .hero__img {
    display: block;
    margin: 0 auto 3px; }
  .hero__button {
    margin-bottom: 20px; }

.example {
  background: #EAEAEA;
  margin-top: 35px; }
  .example__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    padding-bottom: 40px; }

.programs-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.programs-item {
  background: var(--basic_grey, #F2F2F2);
  color: #000;
  font-family: Oswald, sans-serif;
  font-style: normal;
  margin-bottom: 20px;
  padding: 21px; }
  .programs-item__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 37px;
    /* 154.167% */ }
  .programs-item__text {
    font-size: 14px;
    line-height: 18px;
    padding-top: 22px;
    padding-bottom: 5px;
    padding-right: 12px;
    margin: 0;
    border-bottom: 1px solid #D9D9D9; }
  .programs-item__show {
    display: inline-block;
    text-decoration: none;
    padding-top: 15px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000; }

.working {
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 18px; }
  .working__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .working__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    padding-bottom: 40px; }

.working-item__text {
  margin: 0;
  width: calc(100% - 80px); }

.working-item:not(:last-child) {
  margin-bottom: 26px; }

/*# sourceMappingURL=style.css.map */
