.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

*, ::before, ::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 18px; }

.container {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .container {
      padding-right: 30px;
      padding-left: 30px; } }

.page-header {
  background-color: #fff; }
  @media (min-width: 768px) {
    .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .page-header__menu {
        display: flex;
        margin-top: 42px; }
      .page-header__toggler {
        display: none; } }

.header-top {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.page-main__heading {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  color: #000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 40px;
  margin-left: 0;
  padding: 0;
  margin-bottom: 8px;
  padding-left: 20px;
  padding-top: 27px;
  padding-bottom: 40px;
  line-height: 40px; }

.site-menu {
  list-style-type: none;
  font-family: Oswald, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 100% */
  text-transform: uppercase;
  text-align: center;
  margin-left: 0;
  padding: 0; }
  .site-menu__link {
    text-decoration: none;
    color: #000; }
  .site-menu__item {
    border-bottom: 1px solid #e6e6e6; }
    @media (min-width: 768px) {
      .site-menu__item {
        margin-right: 33px; } }

.page-footer {
  background: var(--basic_grey, #F2F2F2);
  padding-bottom: 26px;
  padding-top: 40px; }
  .page-footer__social {
    list-style: none;
    margin-left: 0;
    padding: 0; }
  .page-footer__developer {
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    text-decoration: none;
    color: #000; }

.button {
  background: var(--basic_green, #68B738);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 100% */
  text-transform: uppercase;
  border: none;
  order: 4;
  width: 100%;
  padding: 8px 44px;
  display: block; }
  @media (min-width: 768px) {
    .button {
      color: var(--basic-white, #FFF);
      text-align: center;
      font-family: Oswald, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 100% */
      text-transform: uppercase;
      order: 3;
      padding: 14px 26px; } }
  .button--secondary {
    background: var(--basic_green, #68B738);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #444;
    text-align: center;
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    text-transform: uppercase;
    border: none;
    display: block;
    background: var(--basic_grey, #F2F2F2);
    text-decoration: none; }

.footer-logo__image {
  display: block;
  margin: 0 auto; }

.social {
  padding-bottom: 23px;
  padding-top: 23px;
  margin: 32px 20px 22px;
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9; }
  .social__item {
    display: inline-block;
    width: 22px;
    height: 22px; }

.hero {
  background: url("../../img/background/promo.jpg") no-repeat;
  background-size: 100%; }
  @media (min-width: 768px) {
    .hero {
      background: none; } }
  .hero__title, .hero__text {
    text-align: center;
    font-family: Oswald, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase; }
  .hero__title {
    margin-left: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 36px;
    /* 100% */
    padding-bottom: 25px;
    padding-top: 27px; }
    @media (min-width: 768px) {
      .hero__title {
        color: #000;
        font-family: Oswald, sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 100% */
        text-align: left;
        margin-left: 87px;
        margin-right: 207px; } }
  .hero__text {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .hero__text {
        color: #000;
        font-family: Oswald, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 100% */
        text-transform: uppercase;
        text-align: left;
        margin-left: 87px;
        margin-right: 207px; } }
  .hero__img {
    display: block;
    margin: 0 auto 3px; }
    @media (min-width: 768px) {
      .hero__img {
        order: 4; } }
  .hero__button {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .hero__button {
        width: auto;
        margin-left: 87px;
        margin-right: 374px; } }

.cooperation__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400; }

.example {
  background: #EAEAEA;
  margin-top: 35px;
  margin-bottom: 26px; }
  .example__title {
    padding-top: 25px;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 40px; }
  .example__text {
    margin: 0;
    padding-bottom: 20px; }
  .example__stats-value {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400; }
  .example__stats-effect {
    font-size: 12px;
    line-height: 100%;
    font-weight: 400; }
  .example__expenses {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase; }

.programs-list {
  list-style-type: none;
  margin-left: 0;
  padding: 0; }

.programs-item {
  background: var(--basic_grey, #F2F2F2);
  color: #000;
  font-family: Oswald, sans-serif;
  font-style: normal;
  margin-bottom: 20px;
  padding: 21px; }
  .programs-item__title {
    margin-left: 0;
    padding: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 37px;
    /* 154.167% */ }
  .programs-item__text {
    font-size: 14px;
    line-height: 18px;
    padding-top: 22px;
    padding-bottom: 5px;
    padding-right: 12px;
    margin: 0;
    border-bottom: 1px solid #D9D9D9; }
  .programs-item__show {
    display: inline-block;
    text-decoration: none;
    padding-top: 15px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000; }

.working {
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 18px; }
  .working__list {
    list-style: none;
    margin-left: 0;
    padding: 0; }
  .working__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 40px; }

.working-item__text {
  margin: 0;
  width: calc(100% - 80px); }

.working-item:not(:last-child) {
  margin-bottom: 26px; }

.address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 26px; }

.card {
  border-bottom: 1px solid #D9D9D9; }
  .card__link {
    text-decoration: none; }
  .card__heading {
    margin-left: 0;
    padding: 0;
    color: var(--special_dark-grey-2, #222);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 14px; }
  .card__list {
    margin-bottom: 13px; }
  .card__button {
    display: inline-block;
    margin-bottom: 14px; }

.cards {
  margin-left: 0;
  padding: 0;
  list-style-type: none; }

.catalog-additional__item {
  border-bottom: 1px solid #D9D9D9; }

.catalog-additional__heading {
  margin-left: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  border-bottom: 1px solid #EBEBEB;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 100% */ }

.catalog-additional__list {
  list-style-type: none;
  margin-left: 0;
  padding: 0; }

.catalog-list__item {
  padding-left: 20px;
  padding-right: 20px; }

.show-more {
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #EBEBEB; }
  .show-more__heading {
    padding-top: 78px;
    color: #111;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    text-transform: uppercase; }
  .show-more__text {
    color: var(--special_dark-grey, #444);
    text-align: center;
    font-family: Aclonica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
    margin-bottom: 20px; }

.card-row__button {
  margin-bottom: 19px; }

.card-row__list {
  margin-left: 0;
  padding: 0; }

.card-row__definition {
  margin-left: 0;
  padding: 0;
  color: var(--special_dark-grey, #444);
  font-family: Aclonica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  padding-bottom: 15px; }

.card-row__heading {
  margin-left: 0;
  padding: 0;
  color: var(--special_dark-grey-2, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 100% */
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px; }

/*# sourceMappingURL=style.css.map */
