@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

*,
*::before,
*::after {
  box-sizing: border-box; }

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 708px; } }
  @media (min-width: 1300px) {
    .container {
      width: 1220px; } }

.button {
  color: #ffffff;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none; }

.button--secondary {
  color: #444444;
  background-color: #f2f2f2; }

.card-row__heading {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase; }

.card-row__list {
  color: #444444;
  line-height: 1; }

@media (min-width: 768px) {
  .card {
    background-color: #f2f2f2; } }

.card__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.card__list {
  color: #444444;
  font-size: 12px; }

.catalog-additional {
  padding: 20px 0; }

.catalog-additional__container {
  display: grid; }
  @media (min-width: 1300px) {
    .catalog-additional__container {
      grid-template-columns: repeat(4, 1fr);
      -moz-column-gap: 80px;
           column-gap: 80px; } }

.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px; }
  @media (min-width: 1300px) {
    .catalog-additional__heading {
      grid-column: 1 / -1; } }

.catalog-additional__list {
  list-style: none; }
  @media (min-width: 1300px) {
    .catalog-additional__list {
      grid-column: 1 / -2; } }

.catalog-list {
  padding: 20px 0; }

@media (min-width: 768px) {
  .catalog-list__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px; } }

@media (min-width: 1300px) {
  .catalog-list__container {
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 64px; } }

@media (min-width: 1300px) {
  .catalog-sections__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px; } }

.catalog-sections__item {
  padding: 20px;
  background-color: #f2f2f2; }
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 20px; }
    @media (min-width: 768px) {
      .catalog-sections__item + .catalog-sections__item {
        margin-top: 30px; } }
    @media (min-width: 1300px) {
      .catalog-sections__item + .catalog-sections__item {
        margin-top: 0; } }

.catalog-sections__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase; }

.catalog-sections__text {
  color: #444444; }

.catalog-sections__link {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none; }

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contacts__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }

.contacts__address {
  color: #444444;
  line-height: 20px; }

.control {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

.developer {
  color: #444444;
  font-size: 16px;
  text-decoration: none; }

.example {
  padding: 20px;
  background-color: #ebebeb; }

@media (min-width: 1300px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px; } }

.example__text {
  color: #444444; }

.example__list {
  text-align: center; }

.example__title {
  color: #444444;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase; }

.example__definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase; }

.example__spending {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase; }

.field-group {
  padding: 20px 0;
  border: none; }

.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px; }

.field-group__list {
  padding: 0;
  list-style: none; }

@media (min-width: 1300px) {
  .field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 80px;
         column-gap: 80px; } }

@media (min-width: 768px) {
  .field-group__list--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 80px;
         column-gap: 80px; } }

@media (min-width: 1300px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 1fr); } }

.field {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase; }

.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }

.form {
  padding: 20px; }

@media (min-width: 1300px) {
  .form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 80px;
         column-gap: 80px; } }

.form__group {
  margin: 0; }

@media (min-width: 1300px) {
  .form__group--contacts,
  .form__group--comment,
  .form__group--additional {
    grid-column: 1 / -1; } }

@media (min-width: 1300px) {
  .form__footer {
    grid-column: 1 / -1; } }

@media (max-width: 767px) {
  .logo {
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    gap: 16px; } }

.logo__sign {
  justify-self: center; }

.offer {
  padding: 40px;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/background/catbag.jpg");
  font-size: 16px;
  text-align: center;
  line-height: 20px; }

.page-footer {
  padding: 20px;
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px; } }

@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px; } }

@media (min-width: 1300px) {
  .page-header__nav {
    width: 1220px; } }

@media (max-width: 767px) {
  .page-header__bar {
    width: 320px;
    margin: 0 auto;
    padding: 10px 20px 18px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    align-items: center; } }

.page-header__logo {
  grid-column: 1 / 3; }

.page-header__menu {
  margin: 0; }

@media (min-width: 768px) {
  .page-header__toggler {
    display: none; } }

.page-main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px; }

.page-main__subheading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.page {
  min-width: 320px;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px; }

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content; }

.process {
  padding: 20px; }

.process__list {
  padding: 0;
  color: #444444;
  list-style: none; }
  @media (min-width: 768px) {
    .process__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px; } }
  @media (min-width: 1300px) {
    .process__list {
      grid-template-columns: repeat(4, 1fr); } }

@media (max-width: 767px) {
  .process__item + .process__item {
    margin-top: 20px; } }

.promo {
  padding: 20px;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/background/promo.jpg");
  text-align: center; }
  @media (min-width: 768px) {
    .promo {
      color: #000000;
      background-color: transparent;
      text-align: left; } }

@media (min-width: 768px) {
  .promo__container {
    padding-left: 90px; } }

.promo__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1; }

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase; }

.show-more__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.show-more__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px; }

.site-menu {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  list-style: none; }
  @media (max-width: 767px) {
    .site-menu {
      font-size: 20px;
      font-weight: 500;
      text-align: center; } }
  @media (min-width: 768px) {
    .site-menu {
      display: flex;
      justify-content: flex-end;
      font-size: 18px; } }

.site-menu__link {
  color: #000000;
  text-decoration: none; }

.switcher__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
