@import "./variables.scss";
@import "./fonts.scss";
@import "./global.scss";

// Blocks
@import "./blocks/container.scss";
@import "./blocks/button.scss";
@import "./blocks/card-row.scss";
@import "./blocks/card.scss";
@import "./blocks/catalog-additional.scss";
@import "./blocks/catalog-list.scss";
@import "./blocks/catalog-sections.scss";
@import "./blocks/contacts.scss";
@import "./blocks/control.scss";
@import "./blocks/developer.scss";
@import "./blocks/example.scss";
@import "./blocks/field-group.scss";
@import "./blocks/field.scss";
@import "./blocks/form.scss";
@import "./blocks/logo.scss";
@import "./blocks/offer.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/page-header.scss";
@import "./blocks/page-main.scss";
@import "./blocks/page.scss";
@import "./blocks/process.scss";
@import "./blocks/promo.scss";
@import "./blocks/show-more.scss";
@import "./blocks/site-menu.scss";
@import "./blocks/switcher.scss";
@import "./blocks/visually-hidden.scss";
