$font-heading: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

$color-black: #000000;
$color-white: #ffffff;

$color-gray-50: #f2f2f2;
$color-gray-100: #ebebeb;
$color-gray-200: #d9d9d9;
$color-gray-250: #cdcdcd;
$color-gray-600: #666666;
$color-gray-700: #444444;
$color-gray-850: #222222;
$color-gray-900: #111111;

$color-primary-500: #68b738;
